<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Demo</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="home as home">
	<div class="container">
		<ul class="nav nav-pills" role="tablist">
			<li class="active" ng-click="home.refresh()"><a href="">Home</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="" ng-click="home.logout()">Logout</a></li>
		</ul>
	</div>
	<div class="container" ng-hide="home.show">
		<p>The ID is: {{home.greeting.id}}</p>
		<p>The content is: {{home.greeting.msg}}</p>
	</div>
	<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript">
		angular
				.module("app", [])
				.config(
						function($httpProvider) {
							$httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';
						})
				.controller(
						"home",
						function($http) {
							var self = this;
							self.show = true;
							self.credentials = {};
							self.toggle = function() {
								self.show = !self.show;
							};
							self.logout = function() {
								$http.post("/logout").then(function() {
									self.credentials = {};
									self.show = true;
								});
							};
							$http.get('/greeting').then(function(response) {
								self.greeting = response.data;
								self.show = false;
							});
							self.refresh = function() {
								$http.get("/greeting").then(function(response) {
									self.greeting = response.data;
								});
							}
						});
	</script>
</body>
</html>